<h1 mat-dialog-title>Rate {{ data.title }}</h1>
<div mat-dialog-content>
  <div class="rating">
    <ng-template #t let-fill="fill">
      <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
    </ng-template>

    <ngb-rating [(rate)]="rating" [starTemplate]="t" [readonly]="false" [max]="5"></ngb-rating>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onRate()">Rate <mat-icon *ngIf="isLoading"><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon></button>
</div>
