.movie-list {
  background-color: bisque;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px 40px;

  .mat-form-field {
    width: 100%;
  }

  .mat-button-toggle-group {
    width: 100%;
    border: none;
  }

  section {
    width: 100%;
    margin-top: 20px;
  }

  .mat-flat-button {
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .movie-list {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .movie-list {
    padding: 20px 5px;
  }
}