<div class="movie-list">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input type="text" [ngModel]="query.search" (ngModelChange)="onSearchChanged($event)" autocomplete="off" matInput>
  </mat-form-field>

  <mat-button-toggle-group (change)="onCategoryChange()" [(ngModel)]="query.isMovie">
    <mat-button-toggle [value]="true">Movies</mat-button-toggle>
    <mat-button-toggle [value]="false">TV Shows</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="movieService.isLoading$ | async">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <section >
    <div *ngFor="let movie of movies">
      <app-movie-card [movie]="movie" [query]="query"></app-movie-card>
    </div>
  </section>

  <button *ngIf="movies.length === query.count" mat-flat-button color="primary" (click)="onViewMoreResults()">View more results</button>
</div>
