<div class="movie-card">
  <img [src]="imageSrc" alt="Movie Image">
  <section>
    <h2>{{ movie.title }}</h2>
    <p class="description">{{ movie.description }}</p>
    <p>Release Date: <b>{{ movie.releaseDate | date: 'mediumDate' }}</b></p>
    <p>Cast: <b *ngFor="let cast of movie.actors; last as isLast">{{ cast }}<span *ngIf="!isLast">, </span></b></p>

    <div class="rating">
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="movie.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
      <p>{{ movie.rating }}/5</p>
      <button *ngIf="!isRatedAlready" class="rate-button" (click)="onRate()">Rate</button>
    </div>
  </section>

</div>