.movie-card {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 3px 0;

  img {
    width: 20%;
    border-radius: 10px;
  }

  section {
    width: 80%;
    margin-left: 10px;

    h2 {
      text-align: center;
    }

    .description {
      font-style: italic;
    }

    p {
      margin-bottom: 0;
    }

    .rating {
      display: flex;
      align-items: center;

      p {
        margin: 10px;
        font-size: 1.2rem;
      }

      .rate-button {
        border: 0;
        cursor: pointer;
        color: blue;
        background-color: transparent;
      }
    }
  }
}

